<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jtexpress.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JTExpress">

        <!-- SPLASH SCREEN -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.JTExpress.Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LOGIN SCREEN -->
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.JTExpress.Login"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <!-- REGISTER SCREEN -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <!-- FORGOT PASSWORD SCREEN -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <!-- MAIN DASHBOARD -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <!-- EMAIL VERIFICATION -->
        <activity
            android:name=".EmailVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <!-- TODO: Add MainActivity here when ready -->
        <!--
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        -->

    </application>

</manifest>